@page "/"
@using MediatR
@using ServiceScopeMediator.Dtos
@using ServiceScopeMediator.Requests
@inject IMediator Mediator

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_stuffDtos is not null)
{
    <ul>
        @foreach (var stuff in _stuffDtos)
        {
            <li>@stuff.Name</li>
        }
    </ul>
}
@code {

    private List<StuffDto>? _stuffDtos;

    protected override async Task OnInitializedAsync()
    {
        _stuffDtos = await Mediator.Send(new GetStuffRequest());
    }

}